sudo: false
language: java
dist: xenial
jdk:
  - openjdk8
  - oraclejdk8
  - openjdk11

addons:
  sonarcloud:
    organization: bitofcode
    token:
      secure: "BixHnX/PNPFWtHTEnqJkPOid8hz+UUfjqMi++t9NpQJNZFNp7KFSVWCbRbizfBL0r0uCRG4U+5Lafs1Fez8rcQ7oejt6ODYtGz1ihrF1Zc23fPzfa85dQWib3551wyVp9WT3FVdcIF9aSLXax++zJ5ojlm2BLqocc9NjQMtDVae2jzkVEICW1lOPTvI54bFZWtiNOM17zU1m0BKWM++QXE/k7qMYAA1y1DEcsCo8ASfSqWCIiDpR/zOmF6n3WhCZFsyP7TXrZQQ1TRQjR9jfQxQZBx36KJ8snyZ6xEW9BSQ3HZjPsaJ5aN3TaWw9hP2vuaPUUFAI0mCIrfRqHd2YWOEkmqg11LOFsU1wRsw1jvzGkmN0Li5OyUs8xESpRXgM6OFPjAe1rGWXaDEgx1PPR736UUFFbWAg9Ct+lp4zprRH9R+28bUMHUiJ+kYV0RfiPgUv5jlSUnNqme0hXlO8MudP+jQlHdYfGl3q9qRabnibsryt3ut333V26Z8UNqwyucTodB0neB4fJirEWVXcs+uAqsUtMBkt4gEvyXoekRL+xTjr6aWSo7ojYxUBxUOKPrXOGcRpQoGNQ1gOZb9fCHintjQI5RQuMFlEtPhjq+kWRFyVo82lygHau9JkMjjOkIQ8Y2CocmLibUdsK7C5NyNZV9KU//xhJ1nHTKYcZFg="
  apt:
    packages:
      - oracle-java8-installer

git:
  quiet: true
  depth: 50
  submodules: true
branches:
  only:
    - /^release.*$/
    - master
    - develop

notifications:
  email:
    - github-bitofcode@bitofcode.com

install: "/bin/true"
script:
  - chmod +x ./util/scripts/*.sh
  - ./util/scripts/ci-build.sh

jobs:
  include:
    - stage: deploy - dev
      if: branch = develop AND type != pull_request
      jdk: openjdk8
      script:
        - chmod +x ./util/scripts/*.sh
        - ./util/scripts/ci-deploy.sh travis snapshot
    - stage: deploy - prod
      if: branch = master AND type != pull_request
      jdk: openjdk8
      script:
        - chmod +x ./util/scripts/*.sh
        - ./util/scripts/ci-deploy.sh travis release

env:
  global:
    #sonar.login=$SONAR_CLOUD_TOKEN:
    - secure: ZYixPyAyit3RlBeeGrG/znL1sAQvpmKBIbLeymZWIcmiVRi+nOqBtbqU+bLtEMahHd5dI2Fy8LhNIoByg1/YgsgAofh5vy/J8cCi0UpVT0DZRYkV1sGcgfc3mfZrleDb+pSqdqkSfrs9pdefElfqimNZPO5xKJUV3yFmAlOS6c5ZDExXNmPNDWWMiOjtqeu5Lsj64TBsVwNnxE29y+j+4X5b0oLak0Xbx1bFozmHkNfn1/NbTRQYX78QNct1AzafdDPhsaEoBZ8HOe3r8jlSzxJ0t17/E5IJnv6/01s7Pgh4f7xqhjZNMEOmL4BK2y/KTWnx8CZgy+1IZLa/4e8niPET3p6xyhYnKT2ljoJIeyhUsJNkhvhW/YVAPfATF+dQsOp2pGdjMBJw7k71XKY3QgsAimd++TEvvq84vi9bT7jq/jaaV71JHtYQqvmLNqf8zqON8pIm5lT1tkAdvcryH/GyrplaQk6CDl+ueHPqZOVwthWUy0Aa1FEYQ6O33ULRdvIS0jc267HY5BfjjmbKW3t7zlaSXIG8YrZauBD8ShYxEjKEAVflAWfm2paUHWUldRC4wvfHcV0DkiWGRauHyrSAn1oH/dxMPQtEE9OESMUR1Z3KlgFC16JE7LkQyZgn3A7DhKGoYNgW32gxDcqSEeaYHDttazvbK77ehtCFlyY=
    # CI_DEPLOY_USERNAME
    - secure: BJ1hS2C57Dy+Wlls+8juR6fuCN7H4y8DDcR3YIALK02LqmxtlufdusobFHNAS0pZrkLObUbJWAmrsCfAL8/EPLUaF89Dv5mKaoLDhF01eRJRv7yABftrVb73KfjhIu/UfNne5Qe+zgeSYfGnuR+7IDHK0DyT5VeXXtu0V+pcrb/KZpsaZ486PfFv4M6tCrmTBWdkjHO66CYtj851lA/pw4RasdtV4adkXLX7VVeo2P7UpQGT+ugpSlRf4XgIuj86IMB8mTVZKrplOXCHzhb2sCEnMovzaUPvS5IZ8XVDTfgrfAgy54PYpoOjpVDPW/0whtFrTN4TgRZ/cEUbFSl5P2Dkevzd18EFNIAayBcyvJ/XUDlHyCBwNAE+RKjVG3Rh+NWwiHLV7wxCEMrPHBrinayVq93hin5ENcv9GfJjsSGcxJIg4nqJCm+Bke4htpYopNy5yVC/4z8gn/e9E7eUOMjTqnW8DhITG6lsaFPJIsrZRcQtiImNjmBs7zIqVmS0oda70cUpmLZTrY3G5JiEtVV2oFUVWDCaysiboyBw9xNNJNwkS5FHPR2ec3SKTsy894C2aPrIUeyoax871iw4XJgBmAvbWxYiqvqLkVApDlUHRZNqDpVWDFFvZs1m/Xv890et7CrcF9/p3/bmpfTrhAv9p9yViGqqmqkm7fLJFLs=
    # CI_DEPLOY_PASSWORD
    - secure: V+I2WGYtoWsgL2mvOlTafI01Cxe0MGjnX8LZqPRaYOF2hdMMRyNtM89SZfF+vZg5mbNTr8m2+kzy0edX8ATHu72dJrMtT5wmpKjc5melnJ4ioRcdJjE0W7zwHjoQ+68Bs8BwpyxWg9kJg+YjtTivzdTVm/UBAsWqrbTI5BadyYP4urVbfB4Z2gIKr0PxCunMYsdGWvIJ3VswfxHYHDvyJPrEm8Cb3OQY2d7JDfQGZUBqozGT8zplfe++hNsPIPZIQLfok3pUdaCnSP6H/lF7goWnla5j0lZUPggEY2aowxN6k6hnCbh4suofVqV6sgMnCS73J7TmbNQYNHGjL75Pb46CzzTbMFWpVmUw07TN0wH4Dt4nSdRSc9hjY8Dp7ZzCa6Qwp/Hohr81K4fw+q2q457ehSi3s27H51vsByybI7SnzonIp0YhV/5bGZ5PDFJT5BDovo5672em90Ml872w8hfRaejNkuqFF0NXX+ZGvLBHd1QnVlvBjR187E5+FdY43b9UAHmyv4bnza/J4C/J/oiqydj+owwqQZI1hYgDhsBtE8INI3xyAd8fIs0LVv8sLtrK02hrTpBayLVBPd0+Phx5mTHM1847PUwmD4i3vM3QvaExD1iqvmR45EL+nlvJBTGrBYioW0Rgj825fYqqz4xsjyAx3VKmw+h8MDs15WM=
    # GPG_KEY_NAME
    - secure: LOOlBEvWuI8VuMCU2sVuT/Zxd9s0HE7f/DZ8H8hnz58O7Z/YlGz3tcNfGjhp+b7+ix85iEOPaXW5B0D4KLzg+vAv/LvQhJ7c5gdW41Per3usNw9101pThORDaqTbRmEovbCFf1LsB4O/3vBXy1rSRadMGtvyz0vOIRlb3+FBNSxEoPGGtQhtXOrijroqQSilMPR1/Df4QFXM0T4dVI1nLwGzbSPFRPSreEzUVNIQwH71oDKEuTwhdzAYFC4QFqHG0Fr5bl/rXLdVzutTB04ycMTqZbCclsTbGjOewnVIJVZczNT6GIj6LHG6D10p+OHPt550DkNYQlyUMkAv0nDTI1xd7qVbSYP1wY5c+pPWGDEnLPu8ZMrQ2XZg0EaNtorv3LTXA4MCKsW7+N6cZ2sZLFKnaGAiBtZU9NhEayWZKUHYmcSIMZng5W96p9PODJOCG81XwvaAChhM1DNJQ5mSsdqm9vNb4SzYJEeDUdpfyj9JRvOsm7lL3SA2bfDR88MJG/swiZt6UmF1M4cVoxQ5SNe7ijlPfRU9/JWw4HpFS82dXoaV/3WAzpeYXnwErtbc1JS8LSZ2pif48ZxzBzPLJwBsSJ8M8+73Et9mHptdiVcEYgDUmGEWgOfQUHKtzFSAJP1v9p1ZMsfV7WUSk3lsQJQ1WeQPSHbKcl+qn0foAG0=
    # GPG_PASSPHRASE
    - secure: LtRhzM8PFh9jr93OMxl7tZo7LrV8TUqbYk182yJdoYMK7cj+S8TC99llFImPHM/NVhbzfbmmO43cSjhljzibfT2QFf7IyOMXgJHHUiIlagHid0fOsXPjzcj9OSI1WmETyczMedQdboKn34olFEmAYN13bkPWO5O/+tsHYvBoJaWMBNbxMQSVgKQScAWIIEDsoZlwYsOEucsEB5BgL/JqjWDwcL6zpRMUL0oQmMHCNJarfvxuSltZE1KS1Yli97pw/uqSsaroXxj2B9S4hSOt0uENzWiLgpzEwp6QYYtoNf58LesboPk0qOfIejn510E7h/BmfbtL5oFPWgbUffb1Mxp/0qr8NHGCLXfec7tQ/+8xTe7veeHRRsW2SjPKkfhmCVcFZVrV1tWkCMJ+cgAcCBhX6kHQd8/WqcNQz1BI39CA4QmmYJphq+RLMgOYyok3hUvaIy+AfVYX/6pyTbdx4Zt6IAsSsGSumANkOnSW47Drh2vVnEwA7SCBWE773cgmh80JDjKMGygODPK2d9cApy7F/b2QY8y1ol/X5sSx9AXvwHhF0cjJSNGj3z00bbMbcBWbsksXfRtlhqh81oBwBuaUOeIEnJMlEWNfxFwfQRaAdL98zhpGOs4qkVdHSR3YEIuTKu9ubsNNSdDtPNhzM99v3tiob/YcdrKz+dgMqus=
